.button {
    display: inline-block;
    background-color: $accent;
    color: $textcolor;
    font-size: 10px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    position: relative;
    padding: 16px 26px;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        width: 0%;
        height: 100%;
        background-color: $dark;
        top: 0;
        left: 0;
        transition: width .5s ease-out;
    }

    &:hover,
    &:focus {
        &::before {
            width: 100%;
        }
    }

    span {
        position: relative;
        z-index: 2;
    }
}