.form-input {
    display: block;
    background-color: $dark;
    border: 1px solid lighten($dark, 7);
    outline: none;
    padding: 12px 18px;
    min-width: 280px;
    color: $textcolor;
    font-size: 16px;
    transition: border .25s ease-in;
    letter-spacing: 0.15em;

    &:focus {
        border: 1px solid lighten($dark, 20);
    }
}

textarea.form-input {
    min-height: 100px;
    resize: none;
}